# .github/workflows/main.yml
name: Express to Azure
on: 
  push:
    branches:
      - "master"
  pull_request:
    branches: ["master"]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@master
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - uses: azure/docker-login@v1
          with:
            login-server: luforresourcegroup.azurecr.io
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - run: |
            docker build . -t luforresourcegroup.azurecr.io/mynodeapp:${{ github.sha }}
            docker push luforresourcegroup.azurecr.io/mynodeapp:${{ github.sha }}
          